.footer {
    height: 200px;
    background-color: rgb(75, 75, 75);
    color: white;
    text-align: center;
    padding:50px 0 0 0;
}

.footer_title {
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    text-decoration: underline;
}
