.no_select {
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}

#rotate_button {
	margin: 0 auto 10px auto;
	height: 70px;
	width: 70px;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: rgb(39, 39, 66);
	border-radius: 50px;
	background-image: url('../images/rotate_white.png');
	background-position: center;
	background-size: 50px;
	background-repeat: no-repeat;

	transition: transform 0.2s alternate;
}

#rotate_button:hover {
	background-color: rgb(58, 58, 97);
	cursor: pointer;
}

.rotate_onclick {
	transform: rotate(10deg);
}

#phone_model {
	text-align: center;
	font-style: italic;
	margin: 10px 0 0 10px;
	font-size: 20px;
}

.content_container {
	height: auto;
	min-height: 400px;
	width: 60%;
	margin: 20px 0 0 20%;
}

.content {
	position: relative;
	width: 100;
	margin: 20px 0 20px 0;
}

.top_phones {
	width: 90%;
	margin: 20px 0 0 5%;
}

th {
	text-align: left;
	background-color: rgb(39, 39, 66);
	padding: 5px;
	color: white;
	width: 25%;
}

td {
	text-align: center;
}

.top_phones,
th,
td {
	border: 1px solid gray;
	border-collapse: collapse;
}

.tb_space {
	height: 5px;
	background-color: rgb(39, 39, 66);
}

.annotations {
	font-size: 12px;
	width: 90%;
	margin: 10px 0 0 5%;
	font-style: italic;
}
