#select_common_model {
	text-align: center;
}

.small_header {
	text-align: left;
	margin: 0 0 0 20%;
	font-style: italic;
}

.mini_phone_container {
	display: inline-block;
}

.mini_phone {
	height: 200px;
	width: 110px;
	background-color: black;
	border-radius: 10px;
	margin: 20px 40px 10px 40px;
	overflow: hidden;
	color: white;
	border: 2px solid grey;
}

.mini_screen {
	height: 85%;
	width: 85%;
	background-color: rgb(112, 112, 112);
	margin: 10px auto;
	border-radius: 3px;
}

.mini_phone:hover {
	cursor: pointer;
}
