#phone {
	height: 667px;
	width: 395px;    
}

.phone_container {
	margin-left: 50%;
	transform: translate(-50%,0);
	overflow: hidden;
	height: 667px;
	width: 375px;
}

.element::-webkit-scrollbar { width: 0 !important }


#add_url {
	height: 40px;
	margin: 0;
}

#url_input {
	width: 40%;
	margin: 50px 0 0 30%;
	height: 40px;
	font-size: 30px;
}
