body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	margin: 0 0 40px 0;
	padding: 20px 0 60px 0;
	background-color: rgb(39, 39, 66);
	text-align: center;
	color: white;
}

.input_bar {
	height: 50px;
	width: 100%;
}

.input_header {
	text-align: left;
	margin-left: 28%;
	color: white;
	font-size: 20px;
}

#url_input {
	display: inline-block;
	width: 40%;
	height: 44px;
	font-size: 30px;
	/* margin: 0 0 0 27.5%; */
	vertical-align: top;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	-webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
	box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
}

#add_url {
	background-color: rgb(78, 78, 255);
	display: inline-block;
	height: 100%;
	width: 5%;
	margin: 0 0 0 -10px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;

	font-weight: bold;
	color: white;
	font-size: 30px;
	text-align: center;
	-webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
	box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
}

#add_url:hover {
	background-color: rgb(89, 89, 255);
	border: 0.5px dotted;
}

.phone_container {
	margin: 0 0 0 50%;
	transform: translate(-50%, 0);
	background-color: black;
	height: 667;
	width: 410px;
	border-radius: 30px;
	padding: 50px 0 20px 0;
	border: 4px double rgb(107, 107, 107);

	-webkit-box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
	box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
}

.view_container {
	margin-left: 50%;
	transform: translate(-50%, 0);
	background-color: white;
	overflow: hidden;
	height: auto;
	width: 375px;
	border-radius: 2.5px;
}

.phone_time,
.phone_address {
	height: 10px;
	width: 100%;
	font-size: 10px;
	font-weight: bold;
	color: white;
	text-align: center;
	background-color: rgb(77, 77, 77);
	padding: 0 0 3px 0;
}

#phone {
	height: 667px;
	width: 395px;
}

.iphone_home {
	height: 50px;
	width: 50px;
	border-radius: 30px;
	background-color: black;
	margin: 10px 0 0 50%;
	transform: translate(-50%, 0);
	border: 2px solid rgb(53, 53, 53);
	-webkit-box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.25);
	box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.25);
}

.element::-webkit-scrollbar {
	width: 0 !important;
}

.phone_stats {
	height: 200px;
}
